Dist/
Slipe/Build/
Build/
InternalModules/
meta.xml

.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# The lines below are only meant to be here for the slipe core project
Slipe/Core/Lua/Compiled/
Slipe/Core/DLL