Dist/
!Slipe/Core/Source/SlipeMTADefinitions/Lua/Dist
!Slipe/Core/Source/SlipeSql/Lua/Dist
Slipe/Build/
Build/
InternalModules/
ExportedModules/
BuildOutput/
meta.xml

DocFX/api
DocFX/log.txt


.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# The lines below are only meant to be here for the slipe core project
Slipe/Core/Lua/Compiled/
Slipe/Core/DLL


# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets